<%- layout('./layouts/main.ejs') %>
    <link rel="stylesheet" href="../style/ventas.css">

    <script>
        function verDetallesVenta() {
            window.open('http://localhost:3000/detallesVeSer/', 'detallesVenta', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=1,width=700,height=600,left = 390,top = 50')
        }
        function createRequest(idVenta, estado) {
            const id = idVenta.getAttribute("data-id");
            const url = '/actualizarEstado?estado=' + estado + '&idVenta=' + id;
            console.log(url)
            const options = {
                method: 'GET',
            };

            fetch(url, options)
                .then(response => {
                    if (!response.ok) {
                        return response.text(); // Lee el cuerpo de la respuesta

                        //throw new Error('Error en la solicitud: ' + response);
                    } Swal.fire(
                        'Actualizacion Exitosa!',
                        '',
                        'success'
                    )
                    return response.text(); // Lee el cuerpo de la respuesta
                })
                .then(data => {
                    console.log('Respuesta del servidor:', data);
                })
                .catch(error => {
                    console.error('123 Error:', error);
                });
        }

    </script>
    <div class="container-fluid ventaHead">
        <h1>Ventas</h1>
    </div>
    <div class="container-fluid">
        <div class="row mt-5">
            <div class="col-3">
                <div class="form-floating search">
                    <input type="text" class="form-control rounded-pill" id="BuscarVenta" placeholder="">
                    <label for="inputBuscarVenta" class="label-buscar"><i class="fa-solid fa-magnifying-glass"></i>
                        Buscar venta</label>
                </div>
            </div>
            <div class="col-3 " id="botonGenerarReporte">
                <a href="/reporteVentas" class="reporte-crear rounded-pill text-start" id="botonGenerarReporte" style="background-color: 444444;">
                    <p class="rounded-pill"><i class="fa-solid fa-download icon-generar-reporte"></i> Generar reporte de ventas</p>
                </a>
            </div>
            
            <div class="col-3">
                <button class="reporte-crear rounded-pill text-start"
                    onclick="window.location.href='/create-venta-servicio'">
                    <p class="rounded-pill">crear venta de servicio<i class="fa-solid fa-circle-plus fa-2xl"
                            style="color: #ffffff; margin-left: 29% ;"></i></p>
                </button>
            </div>
            <div class="col-3">
                <button class="reporte-crear rounded-pill text-start"
                    onclick="window.location.href='/create-venta-pedido'">
                    <p class="rounded-pill">crear venta de pedido<i class="fa-solid fa-circle-plus fa-2xl"
                            style="color: #ffffff; margin-left: 29% ;"></i></p>
                </button>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <table class="table table-hover table-borderless mt-3 text-center table-sm">
            <thead>
                <tr class="table-secondary">
                    <th class="p-3">ID Venta</th>
                    <th class="p-3">Venta Servicio</th>
                    <th class="p-3">Fecha Venta</th>
                    <th class="p-3">Costo Total</th>
                    <th class="p-3">Estado Venta</th>
                    <th class="p-3">Opciones</th>
                </tr>
            </thead>
            <tbody>
                <% id=1; %>
                    <% ventas.forEach(obj=> { %>
                        <tr class="filaVenta">
                            <td class="idVenta">
                                <%= id %>
                            </td>
                            <td>
                                <%= obj.idCita %>
                            </td>
                            <td>
                                <%= obj.fechaVentaServicio %>
                            </td>
                            <td>
                                <%= obj.costoTotalCita %>
                            </td>
                            <td>

                                <%= obj.estadoVentaServicio %>
                            </td>
                            <td>
                                <div class="d-flex justify-content-between">
                                    <div class="col margin-left: 1%">
                                        <a href="#" onclick="window.location.href='/detallesVeSer'">
                                            <i class="fa-solid fa-eye ver" style="color: #3cc3bd;"></i>
                                        </a>
                                    </div>
                                    <div>
                                        <label class="switch">
                                            <input type="checkbox" data-id="<%= obj.id %>"
                                                onchange="createRequest(this,this.checked)" <% if (obj.isEnabled) { %>
                                            checked <% } %>>
                                                <span class="slider round"></span>
                                        </label>
                                    </div>

                            </td>
                        </tr>
                        <% id++; %>
                            <% }); %>

            </tbody>
        </table>
    </div>
    <div class="container-fluid container-paginado">
        <div>
            <div class="row">
                <div class="col d-flex paginado">
                    <a href="">
                        <i class="fa-solid fa-caret-left"></i>
                    </a>
                    <p>1</p>
                    <a href="">
                        <i class="fa-solid fa-caret-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.getElementById("BuscarVenta").addEventListener("input", function () {
            // Obtiene el valor ingresado por el usuario en el campo de búsqueda
            const textoABuscar = this.value.trim().toLowerCase(); // Convierte el texto a minúsculas y elimina espacios en blanco

            // Obtén todas las celdas de la primera columna con la clase "idVenta"
            const celdasID = document.querySelectorAll(".filaVenta .idVenta");

            // Itera sobre las celdas de ID y muestra u oculta según el texto coincida o no
            celdasID.forEach(celda => {
                const contenidoCelda = celda.textContent.toLowerCase();

                // Si el contenido de la celda contiene el texto buscado, muestra la fila correspondiente; de lo contrario, ocúltala
                const fila = celda.closest(".filaVenta");
                if (contenidoCelda.includes(textoABuscar)) {
                    fila.style.display = "table-row"; // Muestra la fila
                } else {
                    fila.style.display = "none"; // Oculta la fila
                }
            });
        });


    </script>