<%- layout('./layouts/main.ejs') %>
<link rel="stylesheet" href="../style/compras.css">
<div class="container-fluid compraHead">
    <h1>Compras</h1>
</div>
<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-4">
            <div class="form-floating search">
                <input type="text" class="form-control rounded-pill" id="floatingInputInvalid" placeholder="" >
                <label for="floatingInputInvalid" class="label-buscar"><i class="fa-solid fa-magnifying-glass"></i>   Buscar compra</label>
            </div>
        </div>
        <div class="col-4">
            <a href="" class="reporte-crear">
                <p class="rounded-pill"><i class="fa-solid fa-download fa-2xl"></i>  Generar reporte de compras</p>
            </a>
        </div>
        <div class="col-4">
            <a href="/create-compra" class="create-compra">
                <p class="rounded-pill">Crear compra<i class="fa-solid fa-circle-plus fa-2xl" style="color: #ffffff; margin-left: 100px;"></i></p>
            </a>
        </div>
    </div>
</div>
<div class="container-fluid">
    <table class="table table-hover table-borderless mt-3 text-center table-sm">
        <thead>
            <tr class="table-secondary">
                <th class="p-3">Código Compra</th>
                <th class="p-3">Fecha Compra</th>
                <th class="p-3">Producto</th>
                <th class="p-3">Costo Total</th>
                <th class="p-3">Descripción</th>
                <th class="p-3">Opciones</th>
            </tr>
        </thead>
        <tbody>

            <% id = 1; %>
            <% compras.forEach(obj => { %>
            <tr>
            <td><%= obj.idCompra %></td>
            <td><%= obj.fechaCompra %></td>
            <td><%= obj.product %></td>
            <td><%= obj.costoTotal %></td>
            <td><%= obj.descrip %></td>
            <td><div class="d-flex justify-content-between"><div class=""><a href="/edit-compra/<%= obj.idCompra %>"><i class="fa-solid fa-pen fa-xl" style="color: #3cc3bd;"></i></a></div><div><a href="/delete-compra/<%= obj._id %>"><i class="fa-solid fa-trash fa-xl" style="color: #929292;"></i></a></div><div><label class="switch"><input type="checkbox" checked><span class="slider round"></span></label></div></div></td>
            </tr>
            <% id++; %>
            <% }); %>

        </tbody>
    </table>
</div>
<div class="container-fluid container-paginado">
    <div>
        <div class="row">
            <div class="col d-flex paginado">
                <a href="">
                    <i class="fa-solid fa-caret-left"></i>
                </a>
                <p>1</p>
                <a href="">
                    <i class="fa-solid fa-caret-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>
