<%- layout('./layouts/main.ejs') %>
<link rel="stylesheet" href="../style/compras.css">
<script src="../js/validations.js"></script>
<div class="container-fluid">
    <div class="create-tittle container-fluid">
        <div class="row">
            <div class="col-12">
                <h1>Editar compra</h1>
            </div>
        </div>
    </div>
    <div class="create-body">
        <form action="/editCompra" method="post" onsubmit="return validarEdit();">
            <div class="container-fluid">
                <div class="text-center row mt-4 fields">
                    <div style="display: none;">
                        <input type="text" name="IDMongo" value="<%= compra._id %>">
                    </div>
                    <div class="col">
                        <label for="idC" class="form-label">Código compra</label><br>
                        <input type="text" class="input-bonito" id="idC" name="IDCompra" value="<%= compra.idCompra %>" readonly>
                    </div>
                    <div class="col">
                        <label for="dateCompra" class="form-label">Fecha compra</label><br>
                        <input type="date" id="dateCompra" class="input-bonito" name="fechaCompra" value="<%= compra.fechaCompra %>">
                    </div>
                    <div class="col">
                        <label for="desc" class="form-label">Descripción</label><br>
                        <input type="" id="desc" class="input-bonito" name="desc" value="<%= compra.descrip %>">
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row justify-content-center mt-5">
                    <div class="col text-end">
                        <button type="button" class="cancel-btn" onclick="backPage();">
                            Cancelar
                        </button>
                    </div>
                    <div class="col text-start">
                        <button type="submit" class="acept-btn">
                            Aceptar
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>