<%- layout('./layouts/main.ejs') %>
<div style="display: none;">
    <input type="text" id="rol" value="<%= user.estado.nombreRol %>">
</div>
<script>
    let rol = document.getElementById("rol").value;

    let divUsers = document.getElementById("Usuarios");
    let divCompras = document.getElementById("Compras");
    let divServicios = document.getElementById("Servicios");
    let divVentas = document.getElementById("Ventas");
    let divPedidos = document.getElementById("Pedidos");
    let divCitas = document.getElementById("Citas");
    let divEmpleados = document.getElementById("Empleados");
    
    if(rol == "Cliente"){
        divUsers.style.display = "none";
        divCompras.style.display = "none";
        divServicios.style.display = "none";
        divVentas.style.display = "none";
        divEmpleados.style.display = "none";
    }

</script>
<div class="container-fluid">
    <div class="row text-center justify-content-between">
        <div class="col-3" id="Compras">
            <a href="./compras" class="btn btn-dark"><p style="width: 40vh;">Compras</p></a>
        </div>
        <div class="col-3" id="Empleados">
            <a href="./productos" class="btn btn-dark"><p style="width: 40vh;">Productos</p></a>
        </div>
        <div class="col-3" id="Empleados">
            <a href="./proveedores" class="btn btn-dark"><p style="width: 40vh;">Proveedores</p></a>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-end mb-5">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h1>Profile</h1>
                </div>
                <div class="card-body">
                    <div class="card-body">
                        <h3><%= user.name %></h3>
                        <p><strong>Email: </strong><%= user.email %></p>
                        <p><strong>Rol: </strong><%= user.estado.nombreRol %></p>
                        <p><strong>Password: </strong> <%= user.password %></p>
                        <p><strong>ID: </strong> <%= user._id %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
